.header {
  border: 0px solid var(--mantine-color-lime-2);
  border-bottom: 1px solid var(--mantine-color-lime-2);
}

.navbar {
  border: 1px solid var(--mantine-color-lime-2);
  border-top: 0px solid var(--mantine-color-lime-2);
}

.footer {
  border: 1px solid var(--mantine-color-lime-2);
}
