.root {
  .input {
    background-color: var(--mantine-color-elevation-1);

    &:focus,
    &:focus-visible,
    &:focus-within {
      border: 0px solid var(--mantine-color-gray-5);
      outline: 2px solid var(--mantine-color-lime-3);
    }
  }
}
