.root {
  .label {
    white-space: nowrap;
    max-width: 154;
  }
  .input {
    background-color: var(--mantine-color-elevation-1);

    &:focus,
    &:focus-visible {
      border: 0px solid var(--mantine-color-gray-5);
      outline: 2px solid var(--mantine-color-lime-3);
    }
  }

  &[data-istitleh1],
  &[data-istitleh2] {
    .input {
      font-family: var(--mantine-font-family-headings);
      font-weight: var(--mantine-heading-font-weight);
    }
  }

  &[data-istitleh1] {
    .wrapper,
    .input {
      height: 50px;
    }
    .input {
      font-size: var(--mantine-h3-font-size);

      @media (min-width: $mantine-breakpoint-md) {
        font-size: var(--mantine-h1-font-size);
      }
    }
  }
  &[data-istitleh2] {
    .wrapper,
    .input {
      height: 40px;
    }
    .input {
      font-size: var(--mantine-h5-font-size);

      @media (min-width: $mantine-breakpoint-md) {
        font-size: var(--mantine-h3-font-size);
      }
    }
  }

  &[data-isloginput] {
    .input {
      font-family: var(--mantine-font-family-monospace);
    }
  }
}
