.button {
  background-color: var(--mantine-color-lime-1);
  border-radius: var(--mantine-radius-lg);
  border: 1px solid var(--mantine-color-dark-7);
  box-shadow: var(--mantine-shadow-sm);
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background-color: var(--mantine-color-lime-elevation-1);
  box-shadow: none;
}
