.button {
  display: flex;
  align-items: center;
  width: min-content;
  transition:
    background-color 200ms ease,
    border-color 200ms ease;
  border-radius: var(--mantine-radius-xl);
  padding: 8px 2px;
  border: 1px solid var(--mantine-color-gray-3);
  background-color: var(--mantine-color-elevation-3);
  color: var(--mantine-color-dark-7);

  &[data-checked] {
    border-color: var(--mantine-color-lime-2);
    background-color: var(--mantine-color-lime-1);
  }
}

.body {
  flex: 1;
  margin-left: var(--mantine-spacing-sm);
  margin-right: 8px;
}

.body p {
  text-wrap: nowrap;
}
