.card {
  background-color: transparent;
  border: 1px solid var(--mantine-outline);
}

.card:hover {
  background-color: var(--mantine-color-lime-elevation-5) !important;
  border: 1px solid var(--mantine-color-dark-2) !important;
  box-shadow: none;
}

.card[data-is-selected='true'] {
  background-color: var(--mantine-color-lime-0) !important;
  border: 1px solid var(--mantine-color-lime-4);
  box-shadow: var(--mantine-shadow-md);
}
