.logoButton * {
  transition: all 0.4s ease-out;
}

.logoButtonIconWrapper {
  background-color: var(--mantine-color-lime-0);
  border: 1px solid var(--mantine-color-lime-2);
}

.logoButtonText {
  color: var(--mantine-color-dark-4);
}

.logoButton:hover .logoButtonIconWrapper {
  background-color: var(--mantine-color-lime-2);
}

.logoButton:hover .logoButtonText {
  color: var(--mantine-color-dark-7);
}
