.card {
  background-color: transparent;
  border: 1px solid var(--mantine-color-default-border);
}

.card:hover {
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-gray-2);
  box-shadow: var(--mantine-shadow-xs);
}

.card[data-is-selected='true'] {
  background-color: var(--mantine-color-orange-0);
  border: 4px solid var(--mantine-color-orange-4);
}
